@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/sweetalert2/dist/sweetalert2.css");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page-wrapper {
  padding: 25px;
  margin: 100px 25px 25px;
}

.accounts {
  height: 400px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.table-pagination p {
  margin: 0;
}

.custom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.custom-row > * {
  max-width: 45%;
}