@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/sweetalert2/dist/sweetalert2.css");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page-wrapper {
  padding: 25px;
  margin: 100px 25px 25px;
}
